#canvas {
    border: 1px solid black;
    /*width: 150px;*/
    /*height: 300px;*/
    margin-left: 200px;
}

.column {
    margin-left: 10px !important;
    width: 150px;
}

.app {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.info {
    /*margin-left: 100px;*/
}

#next-figure {
    width: 40px;
    height: 40px;
    border: 2px solid black;
}